Checks:
  - 'clang-analyzer-*'
  - 'misc-*'
  - '-misc-include-cleaner'
  - '-misc-no-recursion'
  - '-misc-non-private-member-variables-in-classes'
  - '-misc-predictable-rand'
  - 'modernize-*'
  - '-modernize-avoid-c-arrays'
  - '-modernize-avoid-setjmp-longjmp'
  - '-modernize-type-traits'
  - '-modernize-use-auto'
  - '-modernize-use-ranges'
  - '-modernize-use-trailing-return-type'
  - 'performance-*'
  - 'readability-*'
  - '-readability-avoid-const-params-in-decls'
  - '-readability-identifier-length'
  - '-readability-implicit-bool-conversion'
  - '-readability-magic-numbers'
  - '-readability-math-missing-parentheses'
  - '-readability-named-parameter'
  - '-readability-redundant-access-specifiers'
  - 'bugprone-*'
  - '-bugprone-narrowing-conversions'
  - '-bugprone-easily-swappable-parameters'
  - '-bugprone-empty-catch'

HeaderFilterRegex: 'src/*.hpp'
ExcludeHeaderFilterRegex: 'external/*'
WarningsAsErrors: '*'
