Checks:
  - 'clang-analyzer-*'
  - 'misc-*'
  - '-misc-include-cleaner'
  - '-misc-misplaced-const'
  - '-misc-no-recursion'
  - '-misc-non-private-member-variables-in-classes'
  - '-misc-predictable-rand'
  - '-misc-use-anonymous-namespace'
  - '-misc-use-internal-linkage'
  - 'modernize-*'
  - '-modernize-avoid-c-arrays'
  - '-modernize-avoid-setjmp-longjmp'
  - '-modernize-type-traits'
  - '-modernize-use-auto'
  - '-modernize-use-designated-initializers'
  - '-modernize-use-ranges'
  - '-modernize-use-trailing-return-type'
  - 'performance-*'

HeaderFilterRegex: 'src/*.hpp'
ExcludeHeaderFilterRegex: 'external/*'
WarningsAsErrors: '*'
