---
Language: Cpp
BasedOnStyle: WebKit
ColumnLimit: 80

AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AlignConsecutiveMacros: true
AlignEscapedNewlines: Left
AlignTrailingComments: true

AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: Empty

BreakBeforeBinaryOperators: None
IndentCaseLabels: true
InsertBraces: true

ForEachMacros: [dummy]

SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:    '^".*\.hpp"'
    Priority: 1
  - Regex:    '^<.*\.hpp>'
    Priority: 2
  - Regex:    '^<.*\.h>'
    Priority: 3
  - Regex:    '^<.*'
    Priority: 4
  - Regex:    '.*'
    Priority: 5
