[Desktop Entry]
Type=Application
Name=Swayimg
Comment=Image viewer for Sway/Wayland
Icon=swayimg
Exec=swayimg %F
Categories=Graphics;Viewer
StartupNotify=false
