name: CI
on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Install dependencies
      run: >
          sudo apt install --no-install-recommends --yes
          build-essential meson pkg-config wayland-protocols
          libwayland-dev libjson-c-dev libxkbcommon-dev
          libfreetype-dev libfontconfig-dev
          libgif-dev libheif-dev libjpeg-dev librsvg2-dev libtiff-dev libwebp-dev

    - name: Check out source code
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Get version
      run: echo "VERSION=$(git describe --tags --long --always | sed 's/^v//;s/-/./')" >> $GITHUB_OUTPUT
      id: version

    - name: Configure
      run: meson -Dversion=${{steps.version.outputs.VERSION}} --buildtype release --prefix /usr ./build
    - name: Build
      run: ninja -C ./build
    - name: Install
      run: DESTDIR=install ninja -C ./build install
    - name: Check
      run: ./build/install/usr/bin/swayimg --version
