name: DCO check

on:
  pull_request:
    branches: [ "master" ]

jobs:

  check:

    runs-on: ubuntu-latest

    steps:

    - name: Get PR Commits
      id: 'get-pr-commits'
      uses: tim-actions/get-pr-commits@master
      with:
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Check DCO
      uses: tim-actions/dco@master
      with:
        commits: ${{ steps.get-pr-commits.outputs.commits }}
